/* ESTILO HEADER */

header nav{
    display: flex;
    background-color: #994B12;
    justify-content: space-around;
    padding: 10px;
}
#logo{
    width: 5%;
    height: 5%;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 30px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
}
.navbar {
    background-color: #994B12;
}
/* BARRA DE NAVEGACION RESPONSIVE */
@media (max-width: 815px) {
    .botonesDeLaBarra li{
        font-size: 20px;
    }
    #logo {
        width: 5vh;
    }
}