/* ESTILO PAGE GUITARRA1 */
.imagenes__guitarra1 .subimagen1{
    width: 300px;
    height: 300px;
    display: flex;
}
.imagenes__guitarra1 .subimagen2{
    width: 300px;
    height: 300px;
    display: flex; /*por algun motivo que no estoy entendiendo se aplasta la imagen.*/
}