/* ESTILO PAGE CONTACTO */
#banner__dondeEncontrarnos img {
    width: 100%;
    height: 100%;
    position: relative;
}
#banner__dondeEncontrarnos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
        padding-left: 250px;
        padding-right: 250px;
    }
}
#banner__dondeEncontrarnos h2 {
    position: absolute;
    font-size: 150px;
    color: rgb(255, 154, 3);
}
#box-contacto {
    div {
        background-color: #AE8568;
    }
    p {
        font-size: 70px;
        text-align: center;
    }
}
#metodos-de-contacto {
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    .wpp {
        display: flex;
        align-items: center;
        p {
            font-size: 40px;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
    .mail {
        display: flex;
        align-items: center;
        p {
            font-size: 40px;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
    .newsletter {
        font-size: 40px;
        display: flex;
        flex-direction: column;
    }
    .boton-enviar {
        width: 150px;
        height: 60px;
    }
    .mapitadegugul {
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        
    }
}
@media (max-width: 979px) {
    #banner__dondeEncontrarnos {
        h2 {
            font-size: 100px;
        }
    }
    #box-contacto {
        p {
            font-size: 40px;
        }
    }
    #metodos-de-contacto {
        .wpp img{
            width: 70px;
            height: 70px;
        }
        .wpp p {
            font-size: 40px;
        }
        .mail img {
            width: 70px;
            height: 70px;
        }
        .newsletter {
            label {
                font-size: 35px;
            }
            form {
                font-size: 35px;
            }
            .boton-enviar {
                font-size: 30px;
                width: 150px;
                height: 50px;
            }
        }
    }
}
@media (max-width: 767px) {
    #banner__dondeEncontrarnos {
        h2 {
            font-size: 70px;
        }
    }
    #box-contacto {
        p {
            font-size: 30px;
        }
    }
    #metodos-de-contacto {
        .wpp img{
            width: 50px;
            height: 50px;
        }
        .wpp p {
            font-size: 35px;
        }
        .mail img {
            width: 50px;
            height: 50px;
        }
        .newsletter {
            label {
                font-size: 30px;
            }
            form {
                font-size: 30px;
            }
            .boton-enviar {
                font-size: 25px;
                width: 100px;
                height: 50px;
            }
            padding-bottom: 20px;
        }
    }
}
@media (max-width: 480px) {
    #banner__dondeEncontrarnos {
        h2 {
            font-size: 50px;
        }
    }
    #box-contacto {
        p {
            font-size: 30px;
        }
    }
    #metodos-de-contacto {
        padding-left: 10px;
        .wpp img{
            width: 40px;
            height: 40px;
        }
        .wpp p {
            font-size: 30px;
        }
        .mail img {
            width: 40px;
            height: 40px;
        }
        .mail p {
            font-size: 30px;
        }
        .newsletter {
            label {
                font-size: 22px;
            }
            form {
                font-size: 20px;
            }
            .boton-enviar {
                font-size: 20px;
                width: 70px;
                height: 40px;
            }
            padding-bottom: 20px;
        }
    }
}